<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118430170425-r9clvhe863u15i4l98u88ge0fel077bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118430170425-r9clvhe863u15i4l98u88ge0fel077bm</string>
	<key>API_KEY</key>
	<string>AIzaSyD4CaXFdBTUdb8BxtbA7M7WgqCKgk1UvJg</string>
	<key>GCM_SENDER_ID</key>
	<string>118430170425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamecrawl.gamecrawlapp</string>
	<key>PROJECT_ID</key>
	<string>gamecrawl-69ad4</string>
	<key>STORAGE_BUCKET</key>
	<string>gamecrawl-69ad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118430170425:ios:2ddc04e2cad9c2dd7e3ce8</string>
	<key>DATABASE_URL</key>
	<string>https://gamecrawl-69ad4.firebaseio.com</string>
</dict>
</plist>